absl-py==0.9.0
astor==0.8.1
certifi==2020.4.5.1
gast==0.3.3
google-pasta==0.2.0
grpcio==1.28.1
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kthread==0.2.2
Markdown==3.2.1
mock==4.0.2
opencv-python==4.2.0.32
protobuf==3.11.3
PyQt5==5.14.2
PyQt5-sip==12.7.2
python-minifier==2.3.1
six==1.14.0
termcolor==1.1.0
tqdm==4.46.0
Werkzeug==1.0.1
wrapt==1.12.1
